# Manufacturing Downtime Analysis: Data Cleaning Notebook

**This notebook goes over each table in the project's dataset and checks for:**
- missing values
- duplicate records

## Imoprt Packages and Load Data

In [1]:
import pandas as pd
import numpy as np

In [2]:
source = "./clean_data.xlsx"

line_prod = pd.read_excel(source,sheet_name="Line_productivity")
products = pd.read_excel(source, sheet_name="Products")
products_details = pd.read_excel(source, sheet_name="Product_details")
Downtime_fact = pd.read_excel(source, sheet_name="Downtime_factors")
Line_downtime = pd.read_excel(source, sheet_name="Line_downtime")
Calender = pd.read_excel(source, sheet_name="Calender")

## Line Productivity

In [3]:
line_prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Batch       38 non-null     int64
 1   Operator    38 non-null     object
 2   Date        38 non-null     datetime64[ns]
 3   Start_Time  38 non-null     object
 4   End_Time    38 non-null     object
 5   Product     38 non-null     object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 1.9+ KB

In [4]:
# Check for null values in each column
line_prod.isnull().sum()

Batch         0
Operator      0
Date          0
Start_Time    0
End_Time      0
Product       0
dtype: int64

In [5]:
# Count the number of unique batch IDs
# The number of unique batch IDs should be equal to the number of rows in the data frame
line_prod.Batch.nunique()

38

In [6]:
# Find the number of duplicate records
line_prod.duplicated().sum()

np.int64(0)

## Products

In [7]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Product     6 non-null      object
 1   Flavor      6 non-null      object
 2   Size_In_ml  6 non-null      int64
dtypes: int64(1), object(2)
memory usage: 276.0+ bytes

In [8]:
# Count the number of unique product IDs
# The count of unique product IDs should be equal to the number of rows in the data frame
products.Product.nunique()

6

In [9]:
# Check for null values in each column
products.isnull().sum()

Product       0
Flavor        0
Size_In_ml    0
dtype: int64

In [10]:
# Find the number of duplicate records
products.duplicated().sum()

np.int64(0)

## Products Details

In [11]:
products_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Size            2 non-null      int64
 1   Min_Batch_Time  2 non-null      int64
dtypes: int64(2)
memory usage: 164.0 bytes

In [12]:
# Count the number of unique sizes
# The count should be equal to the nubmer of rows in the data frame
products_details.Size.nunique()

2

In [13]:
# Check for null values in each column
products_details.isnull().sum()

Size              0
Min_Batch_Time    0
dtype: int64

In [14]:
# Find the number of duplicate records
products_details.duplicated().sum()

np.int64(0)

## Downtime Factors

In [15]:
Downtime_fact.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Factor          12 non-null     int64
 1   Description     12 non-null     object
 2   Operator_Error  12 non-null     object
dtypes: int64(1), object(2)
memory usage: 420.0+ bytes

In [16]:
# Count the number of unique factor IDs
# The count should be equal to the nubmer of rows in the data frame
Downtime_fact.Factor.nunique()

12

In [17]:
# Check for null values in each column
Downtime_fact.isnull().sum()

Factor            0
Description       0
Operator_Error    0
dtype: int64

In [18]:
# Find the number of duplicate records
Downtime_fact.duplicated().sum()

np.int64(0)

## Line Downtime

In [19]:
Line_downtime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Batch    61 non-null     int64
 1   Factor   61 non-null     int64
 2   Minutes  61 non-null     int64
dtypes: int64(3)
memory usage: 1.6 KB

In [20]:
Line_downtime[['Batch','Factor']].nunique()

Batch     35
Factor    11
dtype: int64

In [21]:
# Group data frame by batch and factor then count the groups
# The count should be equal to the nubmer of rows in the data frame
Line_downtime.groupby(['Batch', 'Factor']).ngroups

61

In [22]:
# Check for null values in each column
Line_downtime.isnull().sum()

Batch      0
Factor     0
Minutes    0
dtype: int64

In [23]:
# Find the number of duplicate records
Line_downtime.duplicated().sum()

np.int64(0)

## Calendar

In [24]:
Calender.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           6 non-null      datetime64[ns]
 1   Year           6 non-null      int64
 2   Month          6 non-null      int64
 3   Quarter        6 non-null      int64
 4   Week_of_Month  6 non-null      int64
 5   Day_Name       6 non-null      object
 6   Month_Name     6 non-null      object
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 468.0+ bytes

In [25]:
# Count the number of unique dates
# The count should be equal to the nubmer of rows in the data frame
Calender.Date.nunique()

6

In [26]:
# Check for null values in each column
Calender.isnull().sum()

Date             0
Year             0
Month            0
Quarter          0
Week_of_Month    0
Day_Name         0
Month_Name       0
dtype: int64

In [27]:
# Find the number of duplicate records
Calender.duplicated().sum()

np.int64(0)